@import './variables';
@import './1_4.scss';
@import './1_5.scss';
@import './1_3.scss';
@import './fons';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: TTLakes;
  background-color: $bgBody;
  color: $text;
}
